body {
    background-color: #161b1d;
    color: #f7f8f9;
}

.ah {
    background-color: #057f56;
}
.ab {
    background-color: #023121;
}
.rh {
    background-color: #af0900;
}
.rb {
    background-color: #560400;
}
.nb {
    background-color: #2c363c;
}
.ln {
    color: #999999;
}