body {
    background-color: #ffffff;
    font-family: consolas;
    font-size: 16 px;
    color: #2c363c;
    border:  0px solid;
    /*width: 100%; (default)*/
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: top;
}



.ah {
    background-color: #8ee0b6;
}
.ab {
    background-color: #c8f0da;
}
.rh {
    background-color: #ff957e;
}
.rb {
    background-color: #ffcbbd;
}
.nb {
    background-color: #eaeef0;
}
.ln {
    color: #999999;
}

.cd{
    overflow-x:auto;
    max-width: 100%;
}

table {
    table-layout: fixed; /*this is it*/
    width: 100%;
}

td {
    overflow-y: auto;
    overflow-x: hidden;

    border: 0px solid;
    vertical-align: top;
    /*table-layout:fixed;*/
    /*max-width: 50%;
    /*overflow: hidden;*/
    white-space: nowrap;

}
tr {
    border: 0px solid;
    vertical-align: top;
}